__pycache__
build
.vscode
*.so
*.cache
server.db
logs
node_modules
*.nsys-rep
.vs/
*pycache*
*build/
*/third_party/*
.DS_Store
compile_commands.json
*.egg-info*
*dist/
ktransformers/server/local_store/
ktransformers/server_test1.db
*.patch
img/
tmp*.txt
tmp*.py
test.txt
book
ktransformers/tests/chat_txt.txt
mmlu_result*
ktransformers/ktransformers_ext/cuda_musa/
test_prompt.txt
csrc/demo

.vscode/

*__pycache__*
*.py[cod]
*$py.class
.pytest_cache/

GGUF-DeepSeek-V2-Lite-Chat
DeepSeek-V2-Lite-Chat
ktransformers/sft/adapter
tmp
graphviz/
compute_graph*
graphviz*
third_party/
test_adapter/demo_*
*.whl
*.svg
*_graph
tmp_package.txt
logs/

*.vscode/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# MakeFiles for kt_ext
build/
ktransformers/ktransformers_ext/bin
ktransformers/ktransformers_ext/CMakeFiles
ktransformers/ktransformers_ext/cmake_install.cmake
ktransformers/ktransformers_ext/CMakeCache.txt
ktransformers/ktransformers_ext/compile_commands.json
ktransformers/ktransformers_ext/Makefile
*.egg-info*
*.so

*.txt
*.pt

debug/*

test_adapter/ESC_inst_all.json

!requirements-sft.txt

*-test*.yaml

duipai_pure_tf
data/dataset_info.json

test_adapter/*.json

.venv*