[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/custom_flashinfer"]
	path = third_party/custom_flashinfer
	url = https://github.com/kvcache-ai/custom_flashinfer.git
	branch = fix-precision-mla-merge-main
[submodule "third_party/xxHash"]
	path = third_party/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "third_party/prometheus-cpp"]
	path = third_party/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
